<div
  class="hero min-h-screen"
  style="background-image: url(/assets/images/e1c51a48-841b-491e-a753-0df3d058d668.png);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Bienvenido</h1>
      <p class="mb-5">
        Sopa de letras desarrollada en Angular | David Sarmiento
      </p>
      <button class="btn btn-primary" routerLink="/sopa">Get Started</button>
    </div>
  </div>
</div>
