
<div class="flex flex-col items-center justify-center">
  <h1 class="text-3xl text-secondary font-bold">Sopa de letras</h1>
  <p class="text-lg">Encuentra las palabras escondidas en la sopa de letras</p>
</div>

<div class="flex flex-col items-center justify-center">

  <app-sopa-letras [sopa]="sopa"/>
  <div class="m-6 text-center  text-sm italic text-center flex flex-col ">

    <span class="text-2xl"> Palabras: </span>


    @for(item of sopaService.listaPalabras; track $index) {
      <span class="text-lg" [class.text-success]="sopaService.listaBlocked.includes(item)">{{item}}</span>
    }

  </div>

</div>

