

<div class="flex  m-4 ">


  <div class="grid grid-cols-20 gap-1 p-4 bg-white shadow-xl rounded-2xl border border-gray-200">



    @for (item of sopa(); track $index; let i = $index) {

      @for(letra of item; track $index ; let j = $index){

        <button class="btn" [class.btn-secondary] = "isSelected(i,j)" [class.btn-success] = "isBlocked(i,j)"   (click)="addLetra(i,j)">{{letra}}</button>
      }


    }

  </div>


  <div class="m-6 text-center  text-sm italic text-center flex flex-col ">

    <span class="text-2xl"> Palabras: </span>


    @for(item of sopaService.listaPalabras; track $index) {
      <span class="text-lg" [class.text-success]="sopaService.listaBlocked.includes(item)">{{item}}</span>
    }

  </div>





</div>
